body {
	min-height: 100%;
	padding-top: 80px;
}

footer {
	margin: 0 0;
	width: 100%;
	position: absolute;
	//background-color: #f5f5f5;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none; /* display: none alt can crash on hover */
	margin: 0px; /* sometimes margin is left for spinner */
}