<div class="row">
	<div class="col-md-2">
		<button class="btn btn-primary btn-block" x-ng-click="riskAnalysis()">
			Risk Analysis
		</button>
	</div>
	<div class="col-md-8">
		&nbsp;
	</div>
	<div class="col-md-2">
		<button class="btn btn-primary btn-block" x-ng-click="reset()">
			Reset
		</button>
	</div>
</div>
<br/>
<div class="panel panel-info">
    <div class="panel-heading">
       	<h3 class="panel-title">Messages</h3>
    </div>
    <div class="panel-body">
		<pre>{{announcements.message}}</pre>
	</div>	
</div>